// Misc
.fill {
    height:100%;
    min-height: 100%;
}

.h-100 {
    height:100%;
}

.w-fit-content {
    width: fit-content;
}

// Change this to something more fitting of the website's design.
.outline-none {
    outline:0;
    &:focus {
        outline:0;
    }
}

.dylan-selby {
    box-shadow:inset 0 -0.625rem 0 rgba($blue,.25);
}
.dylan-carr {
    box-shadow:inset 0 -0.625rem 0 rgba($red,.25);
}

// BG Colors


.bg-red {
    background-color:$red;
}
.bg-orange {
    background-color:$orange;
}
.bg-yellow {
    background-color:$yellow;
}
.bg-green {
    background-color:$green;
}
.bg-blue {
    background-color:$blue;
}
.bg-indigo {
    background-color:$indigo;
}

.bg-blur-white {
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
}

// BG Size

.bg-cover {
    background-size:cover;
}
.bg-contain {
    background-size:contain;
}
.bg-center {
    background-position: center;
}
.bg-left {
    background-position: left center;
}
.bg-right {
    background-position: right center;
}

//md
@media (min-width: 768px) {
    .bg-md-center {
        background-position: center;
    }
    .bg-md-left {
        background-position: left center;
    }
    .bg-md-right {
        background-position: right center;
    }
}

//lg
@media (min-width: 992px) {
    .bg-lg-center {
        background-position: center;
    }
    .bg-lg-left {
        background-position: left center;
    }
    .bg-lg-right {
        background-position: right center;
    }
}

// Rainbows

.rainbow-horizontal {
    background-color: #ee5554;
    background: linear-gradient(to right, $red 0%,$red 16%,$orange 17%,$orange 33%,$yellow 34%,$yellow 50%,$green 51%,$green 66%,$blue 67%,$blue 83%,$indigo 84%,$indigo 100%);
}
.raindbow-vertical {
    background-color: #ee5554;
    background: linear-gradient(to bottom, $red 0%,$red 16%,$orange 17%,$orange 33%,$yellow 34%,$yellow 50%,$green 51%,$green 66%,$blue 67%,$blue 83%,$indigo 84%,$indigo 100%);
}
hr.rainbow {
    border-top:0px;
    height:2px;

    background-color: #ee5554;
    background: linear-gradient(to right, $red 0%,$red 16%,$orange 17%,$orange 33%,$yellow 34%,$yellow 50%,$green 51%,$green 66%,$blue 67%,$blue 83%,$indigo 84%,$indigo 100%);
}

// Material Icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// FONTS

p, span {
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Abril Fatface', cursive;
}

.font-regular {
    font-family: 'Roboto', sans-serif !important;
}
.font-header {
    font-family: 'Abril Fatface', cursive !important;
}
.font-condensed {
    font-family: 'Roboto Condensed', sans-serif !important;
}

// FullPage.js Modifications
.flex-section .fp-tableCell {
    display:flex !important;
}

//Video Background classes

// .video-background {
//     position: relative;

//     video {
//         position: absolute;
//         top:50%;
//         left:50%;
//         min-width:100%;
//         min-height:100%;
//         width:auto;
//         height:auto;
//         z-index:0;
//         -ms-transform: translateX(-50%) translateY(-50%);
//         -moz-transform: translateX(-50%) translateY(-50%);
//         -webkit-transform: translateX(-50%) translateY(-50%);
//         transform: translateX(-50%) translateY(-50%);
//     }
//     .container {
//         position: relative;
//         z-index: 2;
//     }
//     .overlay {
//         position: absolute;
//         top: 0;
//         left: 0;
//         height:100%;
//         width:100%;
//         background-color:rgba(0,0,0,0.5);
//         z-index:1;
//     }
// }

.video-background {
    overflow: hidden;

    video {
        position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
        z-index:3;
           
        &::-webkit-media-controls {
            display:none !important;
        }
    }
    .container {
        position: relative;
        z-index:5;
        -webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
    }
}


// Font Sizes
h1 {
    font-size:1.75rem;
}
h2 {
    font-size:1.5rem;
}
p {
    font-size: 0.9rem;
}
@media (min-width: 768px) {
    h1 {
        font-size: 2.25rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1rem;
    }
}
