
// Body
$body-bg: #ffffff;

// Color Palette
$red    :#ee5554;
$orange :#ffc615;
$yellow :#f6db37;
$green  :#3b8d42;
$blue   :#5f8dc9;
$indigo :#5469b1;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
