.h-text-red {
    transition:color 0.2s !important;
    &:hover {
        color:$red !important;
    }
}
.h-bg-red:hover {
    transition:color 0.2s !important;
    &:hover {
        background-color:$red !important;
    }
}

.h-text-orange {
    transition:color 0.2s !important;
    &:hover {
        color:$orange !important;
    }
}
.h-bg-orange:hover {
    transition:color 0.2s !important;
    &:hover {
        background-color:$orange !important;
    }
}

.h-text-yellow {
    transition:color 0.2s !important;
    &:hover {
        color:$yellow !important;
    }
}
.h-bg-yellow:hover {
    transition:color 0.2s !important;
    &:hover {
        background-color:$yellow !important;
    }
}

.h-text-green {
    transition:color 0.2s !important;
    &:hover {
        color:$green !important;
    }
}
.h-bg-green:hover {
    transition:color 0.2s !important;
    &:hover {
        background-color:$green !important;
    }
}

.h-text-blue {
    transition:color 0.2s !important;
    &:hover {
        color:$blue !important;
    }
}
.h-bg-blue:hover {
    transition:color 0.2s !important;
    &:hover {
        background-color:$blue !important;
    }
}

.h-text-indigo {
    transition:color 0.2s !important;
    &:hover {
        color:$indigo !important;
    }
}
.h-bg-indigo:hover {
    transition:color 0.2s !important;
    &:hover {
        background-color:$indigo !important;
    }
}

.h-pride-hard:hover {
    animation: prideHard 1s infinite;
    & svg, svg path {
        animation: prideHard 1s infinite;
    }
}
.h-pride-soft:hover {
    animation: prideSoft 1s infinite;
    & svg, svg path {
        animation: prideSoft 1s infinite;
    }
}

@keyframes prideHard {
    0% {
        color:$red;
        fill:$red;
    }
    16% {
        color:$red;
        fill:$red;
    }
    17% {
        color:$orange;
        fill:$orange;
    }
    33% {
        color:$orange;
        fill:$orange;
    }
    34% {
        color:$yellow;
        fill:$yellow;
    }
    50% {
        color:$yellow;
        fill:$yellow;
    }
    51% {
        color:$green;
        fill:$green;
    }
    66% {
        color:$green;
        fill:$green;
    }
    67% {
        color:$blue;
        fill:$blue;
    }
    83% {
        color:$blue;
        fill:$blue;
    }
    84% {
        color:$indigo;
        fill:$indigo;
    }
    100% {
        color:$indigo;
        fill:$indigo;
    }
}

@keyframes prideSoft {
    0% {
        color:$red;
        fill:$red;
    }
    16% {
        color:$orange;
        fill:$orange;
    }
    33% {
        color:$yellow;
        fill:$yellow;
    }
    50% {
        color:$green;
        fill:$green;
    }
    66% {
        color:$blue;
        fill:$blue;
    }
    83% {
        color:$indigo;
        fill:$indigo;
    }
    100% {
        color:$red;
        fill:$red;
    }
}
